<div class="row">
  <div class="col-xs-12">
    <h1>Editing Event</h1>
  </div>
</div>

<%= render "form", event: @event, event_form: @event_form %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Show', @event, class: 'btn btn-primary', style: 'color: #FFF;' %>
    <%= link_to 'Back', events_path, class: 'btn btn-success', style: 'color: #FFF;' %>
  </div>
</div>
