<div class="row">
  <div class="col-xs-12">
    <%= react_component("Calendar") %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Next Events</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <% classify_per_day(@events).each do |day, events| %>
        <% events.each do |event| %>
          <li><%= render "event_info", event: event %></li>
        <% end %>
        <br>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "New Event", new_event_path, class: "btn btn-primary", style: "color: #FFF;" %>
  </div>
</div>
