<div class="row">
  <div class="col-xs-12">
    <div id='calendar'></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Next Events</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <% @events.select { |e| e.ing_or_after? }.each do |event| %>
        <li><%= event.start_time_with_tz.strftime('%m/%d %H:%M') %>~ <%= link_to "#{event.subject} in #{event.place}", event %> (참가: <%= event.member_names.join(', ') %>)</li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-primary', style: 'color: #FFF;' %>
  </div>
</div>
