<div class="row">
  <div class="col-xs-12">
    <%= react_component("Calendar") %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Next Events</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= react_component("EventList", data: @events) %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "New Event", new_event_path, class: "btn btn-primary", style: "color: #FFF;" %>
  </div>
</div>
