<%= react_component("Calendar") %>
<%= react_component("EventList", data: @events) %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "New Event", new_event_path, class: "btn btn-primary", style: "color: #FFF;" %>
  </div>
</div>
