<p id="notice"><%= notice %></p>

<div id='calendar'></div>

<h2>Listing Events</h2>

<ol>
<% @events.each do |event| %>
  <li><%= link_to "#{event.subject} in #{event.place}", event %></li>
<% end %>
</ol>

<br>

<%= link_to 'New Event', new_event_path %>
