<div class="row">
  <div class="col-xs-12">
    <h1>New Event</h1>
  </div>
</div>

<%= render "form", event: @event %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "Back", events_path, class: "btn btn-success", style: "color: #FFF;" %>
  </div>
</div>
